Repository Drakkar-Software/OctoBot, pull requests merged in 2018-12, with the labels that each got.

#434 #433 [Style] Fix code errors
  backtesting/abstract_backtesting_test.py
  dev_requirements.txt
  evaluator/Dispatchers/abstract_dispatcher.py
  interfaces/__init__.py
  interfaces/gui/launcher/launcher_controller.py
  interfaces/web/controllers/backtesting.py
  interfaces/web/controllers/commands.py
  interfaces/web/templates/config.html
  tests/functional_tests/strategy_evaluators_tests/abstract_strategy_test.py
  tests/unit_tests/TA_evaluators_tests/abstract_TA_test.py
  trading/trader/trader.py
Labels: ask for review

#440 Improve unit tests coverage
  config/cst.py
  dev_requirements.txt
  tests/unit_tests/tools_tests/incorrect_config_file.txt
  tests/unit_tests/tools_tests/test_config.py
  tests/unit_tests/trading_tests/test_trader.py
  trading/trader/orders_manager.py
  trading/trader/trade.py
  trading/trader/trader.py
  trading/trader/trades_manager.py
Labels: tests

#445 Coding style improvements
  backtesting/backtesting_util.py
  backtesting/strategy_optimizer/strategy_optimizer.py
  evaluator/abstract_evaluator.py
  evaluator/symbol_evaluator.py
  interfaces/web/models/interface_settings.py
  octobot.py
  services/abstract_service.py
  tools/config_manager.py
  tools/notifications.py
  tools/tentacle_manager/tentacle_util.py
  trading/exchanges/exchange_dispatcher.py
  trading/exchanges/exchange_symbol_data.py
  trading/trader/orders_manager.py
  trading/trader/trader.py
  trading/trader/trades_manager.py
Labels: enhancement

#451 #450 fixed services startup config check
  services/abstract_service.py
Labels: bug

#454 Feature/refresh trader command
  interfaces/telegram/bot.py
  interfaces/trading_util.py
  trading/trader/trader.py
Labels: services & interfaces

#453 Improve docker image
  .dockerignore
  Dockerfile
  wercker.yml
Labels: docker

#460 Configure wercker to deploy latest on dev
  wercker.yml
Labels: docker

#459 Features/improve select ux
  interfaces/web/templates/data_collector.html
  interfaces/web/templates/symbol_market_status.html
Labels: services & interfaces

#458 #456 Implement docker configuration persistence
  Dockerfile
  config/config.py
  start.py
  tools/tentacle_manager/tentacle_util.py
Labels: docker

#463 Feature/resync real trader
  trading/exchanges/rest_exchanges/rest_exchange.py
  trading/trader/modes/abstract_mode_decider.py
  trading/trader/trader.py
Labels: bug, trading & exchanges

#462 Fix wercker deploy
  Dockerfile
  wercker.yml
Labels: docker

#466 Remove unused CI
  README.md
  wercker.yml
Labels: review

#469 fixed hidden text input (too low z-index)
  interfaces/web/static/css/style.css
Labels: bug

#482 Docker images best practices improvements
  .dockerignore
  Dockerfile
Labels: docker, review

#480 #474 Implement exchange market status fixer
  config/__init__.py
  tests/unit_tests/trading_modes_tests/abstract_mode_creator_test.py
  tests/unit_tests/trading_tests/test_exchange_market_status_fixer.py
  trading/exchanges/abstract_exchange.py
  trading/exchanges/exchange_dispatcher.py
  trading/exchanges/exchange_manager.py
  trading/exchanges/exchange_market_status_fixer.py
  trading/exchanges/exchange_simulator/exchange_simulator.py
  trading/exchanges/rest_exchanges/rest_exchange.py
  trading/trader/modes/abstract_mode_creator.py
Labels: review, trading & exchanges

#493 Fix erase config file with errors
  config/config.py
  start.py
Labels: bug, review

#496 Remove unused dev requirements
  dev_requirements.txt
Labels: enhancement, review

#497 [RELEASE] octobot version 0.2.4
  README.md
  config/__init__.py
  docs/CHANGELOG.md
Labels: review, version
