Repository Drakkar-Software/OctoBot, pull requests merged in 2019-06, with the labels that each got.

#913 fix telegram
  interfaces/bots/telegram/bot.py
Labels: bug, services & interfaces

#921 now does not stop current process when exception on notification publish
  tools/notifications.py
Labels: bug, services & interfaces

#923 added evaluators performances in metrics
  config/__init__.py
  interfaces/web/templates/commands.html
  tools/metrics/metrics_manager.py
Labels: UX/UI, trading & exchanges

#927 [Docker] expose web interface for inter-container communications
  Dockerfile
Labels: docker
